
@font-face {
   font-family: "Pokemon";
   src: url("./fonts/Pokemon.ttf") format("truetype");
}

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

main {
   background-image: url("./assets/pokebola2.jpg");
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}
